# Pandas Exercises

In [2]:
import pandas as pd

## Problem 1

*The file `crime_data.txt` contrains data on types of crimes commited in the US from 1960 - 2016. Complete the following problems using this data.*

Load the data into a pandas DataFrame, using the column names in the file and the column titled “Year” as the index. Make sure to skip lines that don’t contain data.

In [48]:
crime = pd.read_csv('crime_data.txt', index_col = 0)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

Insert a new column into the data frame that contains the crime rate by year (the ratio of “Total” column to the “Population” column).

In [49]:
crime['Crime_Ratio'] = crime.Total.divide(crime.Population)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Crime_Ratio
Year,,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200,0.018872
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000,0.019061
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800,0.020198
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300,0.021803
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800,0.023881

List the 5 years with the highest crime rate in descending order.

In [50]:
(crime[['Crime_Ratio']]).sort_values(by = 'Crime_Ratio', ascending = False).head(5)

      Crime_Ratio
Year
1980     0.059500
1991     0.058978
1981     0.058582
1990     0.058203
1989     0.057410

Calculate the average number of total crimes as well as burglary crimes between 1960 and
2012.

In [51]:
avg = crime[['Total', 'Burglary']].mean()
print(avg[0])
avg[1]

10638068.075471697

2446286.2075471696

Find the years for which the total number of crimes was below average, but the number
of burglaries was above average.

In [52]:
crime[(crime.Total < avg[0]) & (crime.Burglary > avg[1])]

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Crime_Ratio
Year,,,,,,,,,,,,
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,0.041544
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100,0.048504

Select the Population, Violent, and Robbery columns for all years in the 1980s, and save this smaller data frame to a CSV file crime_subset.csv

In [53]:
crime_subset = crime.loc[1980:1989][['Population', 'Violent', 'Robbery']]
crime_subset
crime_subset.to_csv('crime_subset.csv')

## Problem 2

*The file `titanic.csv` has various features on who survived the accident.  Complete the following problems using this dataset.

Read the data into a DataFrame. Use the first row of the file as the column labels, but do not use any of the columns as the index.

Drop the columns "Sibsp", "Parch", "Cabin", "Boat", "Body", and "home.dest"

Replace null entries in the "Age" column with the average age.

Save the new DataFrame as titanic_clean.csv

How many people survived? What percentage of passengers survived?

What was the average price of a ticket? How much did the most expensive ticket cost?

How old was the oldest survivor? How young was the youngest survivor? What about
non-survivors?