In [1]:
geojson = "state.geo.json"
data = "unemployment_states.csv"

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv(data)
df.head()

           State  rate  rank
0         Hawaii   2.0     1
1   North Dakota   2.6     2
2           Iowa   2.7     3
3  New Hampshire   2.7     3
4       Colorado   2.8     5

In [4]:
df_rates = df[['State', 'rate']]
df_rates.head()

           State  rate
0         Hawaii   2.0
1   North Dakota   2.6
2           Iowa   2.7
3  New Hampshire   2.7
4       Colorado   2.8

In [5]:
import json
with open(geojson, errors="ignore") as fname:
    geo_data = json.load(fname)

In [6]:
geo_data["features"][0]["properties"]

{'REGION10': '4',
 'DIVISION10': '8',
 'STATEFP10': '56',
 'STATENS10': '01779807',
 'GEOID10': '56',
 'STUSPS10': 'WY',
 'NAME10': 'Wyoming',
 'LSAD10': '00',
 'MTFCC10': 'G4000',
 'FUNCSTAT10': 'A',
 'ALAND10': 251470069067.0,
 'AWATER10': 1864445306.0,
 'INTPTLAT10': '+42.9918024',
 'INTPTLON10': '-107.5419255'}

In [10]:
import folium
m = folium.Map(location=[38.537327, -97.672899], zoom_start=5,
              tiles='Cartodb Positron')

m.choropleth(
    geo_data=geo_data,
    name='unempolyment_rates',
    data=df_rates,
    columns=["State", "rate"],
    key_on="feature.properties.NAME10",
    fill_color="YlOrRd",
    fill_opacity=0.8,
    line_opacity=0.2,
    legend_name="Unemployment Rates as of June 2018 (Bureau of Labor Statistics)",
)


folium.LayerControl().add_to(m)

In [11]:
m.save("map.html")