In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("datawrangling.db")

In [3]:
cur = conn.cursor()

In [8]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('credit_risk_features',), ('credit_risk_target',)]

In [14]:
cur.execute("SELECT sql FROM sqlite_master WHERE type='table'AND name= 'credit_risk_features'")

In [15]:
print(cur.fetchone()[0])

CREATE TABLE credit_risk_features (
SK_ID_CURR INT,
DEF_60_CNT_SOCIAL_CIRCLE FLOAT,
DAYS_LAST_PHONE_CHANGE FLOAT,
BASEMENTAREA_AVG FLOAT,
ENTRANCES_AVG FLOAT,
FLAG_DOCUMENT_20 INT,
FONDKAPREMONT_MODE VARCHAR(255),
CNT_CHILDREN INT,
FLAG_DOCUMENT_15 INT,
FLAG_EMAIL INT,
OWN_CAR_AGE FLOAT)

In [16]:
cur.execute("SELECT sql FROM sqlite_master WHERE type='table'AND name= 'credit_risk_target'")

In [17]:
print(cur.fetchone()[0])

CREATE TABLE credit_risk_target (
SK_ID_CURR INT,
TARGET INT)

In [29]:
cur.execute("SELECT * FROM credit_risk_target limit 20")
results = cur.fetchall()
for row in results:
    print(row)

('SK_ID_CURR', 'TARGET')
(100004, 'NULL')
(100006, 0)
(100012, 'NULL')
(100014, 0)
(100015, 0)
(100017, 0)
(100018, 0)
(100019, 0)
(100030, 0)
(100032, 0)
(100034, 'NULL')
(100035, 0)
(100040, 0)
(100043, 'NULL')
(100045, 0)
(100048, 0)
(100049, 1)
(100051, 0)
(100055, 'NULL')

In [33]:
cur.execute("SELECT * FROM credit_risk_features limit 20")
results = cur.fetchall()
for row in results:
    print(row)

('SK_ID_CURR', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'BASEMENTAREA_AVG', 'ENTRANCES_AVG', 'FLAG_DOCUMENT_20', 'FONDKAPREMONT_MODE', 'CNT_CHILDREN', 'FLAG_DOCUMENT_15', 'FLAG_EMAIL', 'OWN_CAR_AGE')
(100004, 0.0, -815.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 26.0)
(100006, 0.0, -617.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100012, 0.0, -1673.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100014, 0.0, -844.0, 'NULL', 'NULL', 0, 'NULL', 1, 0, 0, 'NULL')
(100015, 0.0, -2396.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100017, 0.0, -4.0, 0.097299999999999, 0.137899999999999, 0, 'reg oper account', 1, 0, 0, 23.0)
(100018, 0.0, -188.0, 0.1335, 0.1724, 0, 'reg oper account', 0, 0, 0, 'NULL')
(100019, 0.0, -925.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 17.0)
(100030, 0.0, 0.0, 0.0147, 0.137899999999999, 0, 'reg oper account', 0, 0, 0, 'NULL')
(100032, 0.0, -2.0, 'NULL', 'NULL', 0, 'NULL', 1, 0, 0, 'NULL')
(100034, 0.0, -599.0, 0.083799999999999, 0.137899999999999, 0, 'reg oper account', 0, 0, 0, 'NULL')
(100035, 0.0, -1634.0, 'NULL', 0.069, 0, 'NULL', 0, 0, 1, 'NULL')
(100040, 0.0, -3019.0, 0.080399999999999, 0.137899999999999, 0, 'reg oper account', 0, 0, 0, 'NULL')
(100043, 0.0, -2411.0, 'NULL', 'NULL', 0, 'NULL', 2, 0, 0, 'NULL')
(100045, 0.0, 0.0, 'NULL', 0.0345, 0, 'NULL', 0, 0, 0, 'NULL')
(100048, 0.0, -458.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100049, 0.0, -1480.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100051, 0.0, -556.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')
(100055, 0.0, -784.0, 'NULL', 'NULL', 0, 'NULL', 0, 0, 0, 'NULL')

In [30]:
cur.execute("SELECT count(*) FROM credit_risk_target")
print(cur.fetchall())

[(100001,)]

In [31]:
cur.execute("SELECT count(*) FROM credit_risk_features")
print(cur.fetchall())

[(100001,)]